<!DOCTYPE html>
<html>
  <head>
    <title>TestApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header-menu">
      <div class="header-title">
        <h2>本屋だよ</h2>
      </div>
      <div class="header-search">
        <%= form_tag books_path,method: 'get' do %>
          <%= label_tag(:q, '検索') %>
          <%= text_field_tag(:q) %>
          <%= submit_tag('検索') %>
        <% end %>
      </div>
      <ul class="header-list">
        <li>マンガ</li>
        <li>小説</li>
        <li>雑誌</li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>